:root {
  color-scheme: light dark;
}
* {
  box-sizing: border-box;
}
html,
body,
#root {
  user-select: none;
  width: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
  color: var(--vscode-foreground);
  background: var(--vscode-sideBar-background);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
}
button {
  font: inherit;
}
